<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Janken Game</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken Game</h1>

  <div class="entry">
    <h3>
      <a href="/janken/entry">エントリー</a>
    </h3>

    <div th:if="${entry}">
      <!-- <h3>DI利用</h3> -->
      <ul>
        <li th:each="user : ${entry.users}">[[${user}]]</li>
      </ul>
    </div>
  </div>

  <div class="all-users" th:if="${all_users}">
    <h3>全ユーザー</h3>
    <ul>
      <li th:each="user : ${all_users}">[[${user}]]</li>
    </ul>
  </div>

  <div class="user">
    <div th:if="${login_user_name}">
      <h1>Hi! [[${login_user_name}]]</h1>
    </div>
  </div>

  <div class="game">
    <form action="/janken/start" method="post">
      <input type="submit" name="player_hand" value="グー">
      <input type="submit" name="player_hand" value="チョキ">
      <input type="submit" name="player_hand" value="パー">
    </form>

    <div class="result">
      <h3>あなたの手</h3>
      <div th:if="${player_hand}">
        <p>[[${player_hand}]]</p>
      </div>
      <h3>CPUの手</h3>
      <div th:if="${cpu_hand}">
        <p>[[${cpu_hand}]]</p>
      </div>
      <h3>結果</h3>
      <div th:if="${result}">
        <p>[[${result}]]</p>
      </div>
    </div>
  </div>
</body>

</html>
